html {
    background-color: rgb(34, 34, 34);
    font-family: Helvetica;
}


body {    
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);

}

h1 {
    padding-left: 10px;
}

a:link {
    color: #008f8f;
    text-decoration: none;
  }

a:visited {
    color: #008f8f;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3 {
    color: 008f8f
}

.titlebar {
    background-color: red;
    padding: 0;
}

.headerbar {
    border: 1px solid black;
    display: block; 
}

.contact {
    /* border: 2px solid green; */
    position: absolute;
    right: 50px;
    top: 10px;
}

.content {
    /* border: 2px solid green; */
    /* float: right; */
    padding: 10px;
}

.projectBox, .aboutBox {

/*    width: 46%;    
     float: left; 
    display: inline-block;
    vertical-align:middle; 
    
    padding: 5px;
    margin: 10px;*/
    border-radius: 5px;

}

.aboutBox {
    text-align: center;
}

.indPBox {
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    padding: 15 30;
    border-radius: 5px;
    
}

.indPBox:hover {
    background-color: rgb(40, 40, 40);
}

.projectBox  {
    /* border: 2px solid rgb(151, 151, 151); */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    margin: 0 200;
    padding: 10 50;
}

h3.projTitle {
    text-align: center;
}


p.footnote {
    text-align: center;
    font-size: small;
}